<% count = event.people.count %>

<script type="text/javascript">
$(function(){
  
  var pollBackend = function() {
    $.getScript( "<%= event_subscriptions_path(event) %> " );
  }

  pollBackend( );
  setInterval(pollBackend, 5000);
});
</script>

<li id="event-<%= event.id %>" style="padding-left: 58px;" class='<%= "subscribed" if event.subscribed?(current_person) %>'>

  <%= link_to event do %>
    
    <%= image_tag("#{event.owner.image_url}", :style => "padding-right: 10px;", :clear => "both") %>
    
    <span class="countdown" data-time='<%= event.time %>'></span>
    <%= event.owner.first_name %> is going to <%= event.location %>
    <span class="people"></span>
    
  <% end %>

</li>
