<% count = event.people.count %>

<script type="text/javascript">
$(function(){
  
  var pollBackend = function() {
    $.getScript( "<%= event_subscriptions_path(event) %> " );
  }

  pollBackend( );
  setInterval(pollBackend, 1000);
});
</script>

<li id="event-<%= event.id %>" class='<%= "subscribed" if event.subscribed?(current_person) %>'>

  <%= link_to event do %>
    
    <%= image_tag("#{event.owner.image_url}") %>
    
    <% if event.owner == current_person %>I am<% else %><%= event.owner.first_name %> is<% end %> going to 
    
    <h3><%= event.location %></h3>
    <span class="people"><%= pluralize( event.people.count, "person" ) %> going</span>
    <span class="countdown" data-time='<%= event.time %>'></span>
  <% end %>

</li>
