<div data-theme="g"> 

<div data-role="header" data-position="fixed">
  <h1>Signal Booth</h1>
</div>
 
<ul data-role="listview">

  <% @events.each_with_index do |e,i| %>
<% current_person = Person.find(i+1) %>
  <li style="padding-left: 58px;">
  
  
<div style="padding-right: 10px;" clear="both">
<%= image_tag("#{current_person.image_url}") %>
</div>
  
  <span class="countdown" data-time='<%= e.time %>'>5min</span> 
    <%= current_person.first_name %> is going to <%= e.location %>
    with 3 people
</li>
<% end %>
  <% @events.each do |e| %>
    <li>
      <%= link_to e do %>
        <span class="countdown" data-time='<%= e.time %>'></span> 
        <%= e.owner.first_name unless e.owner == nil %> is going to <%= e.location %>
      <% end %>


  </li>
  <% end %>

</ul>


</div>
