<div data-role="page" data-theme="a"> 

<h1>Listing events</h1>
<ul>

  <% @events.each do |e| %>
  <li><span class="countdown">5min</span> 
    <%  Person.first  %>
  </li>
  <% end %>

</ul>

<table>
  <tr>
    <th>Location</th>
    <th>Time</th>
    <th>Image location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.location %></td>
    <td><%= event.time %></td>
    <td><%= event.image_location %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>

<h1>Header</h1>
  <ul>
  <li>hello</li>
  <li>hello</li>
  <li>hello</li>
</ul>

</div>
