<div data-role="page">
<div data-role="header" data-position="fixed">
  <h1>Signal Booth</h1>
</div>

<p id="notice"><%= notice %></p>
<div id="event-div">
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Image location:</b>
  <%= @event.image_location %>
</p>

<%= render(:partial => "registration") %>

<br />

<% if @event.owner == current_person %>
<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
</div>
</div>
