<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Image location:</b>
  <%= @event.image_location %>
</p>

<% if @event.owner == current_person %>
  <%= form_tag event_unsubscribe_path(@event), :method => :post do %>
    <%= submit_tag 'Unregister' %>
  <% end %>
<% elsif @event.people.exists?(current_person) %>
  <%= form_tag event_unsubscribe_path(@event), :method => :post do %>
    <%= submit_tag 'Unregister' %>
  <% end %>
<% else %>
  <%= form_tag event_subscribe_path(@event), :method => :post do %>
    <%= submit_tag 'Register' %>
  <% end %>
<% end %>



<br />

<% if @event.owner == current_person %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
